@import "assets/styles/fonts";

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header-main-wrap-new-title{
  display: flex;
  align-items: center;
  padding: 0 24px !important;
  height: 36px;
  font-family: Montserrat-Bold, sans-serif;
  font-size: 14px;
  color: black;
}
