* {
  padding: 0;
}

.header {
  height: 80px;

  .container {
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 80px;
    box-sizing: border-box;
    justify-content: space-between;

    .logo {
      margin-right: 64px;
      cursor: pointer;
    }

    .header-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 1060px;
      box-sizing: border-box;

      .header-main, .header-extra {
        .header-main-items {
          display: flex;
          align-items: center;

          .header-main-item {
            list-style: none;
            padding: 0 8px;
            cursor: pointer;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            &:nth-child(2) {
              ul {
                li {
                  border-right: 1px solid #ddd;
                }
              }
            }
            &:nth-child(3) {
              .header-main-container {
                left: -287px;
                .header-main-wrap {
                  display: grid !important;
                  grid-template-columns: repeat(6, 224px) !important;
                  grid-template-rows: auto auto;
                  flex-direction: column;

                  .header-main-wrap-text:nth-child(2) {
                    grid-row: 2/3;
                    grid-column: 1/2;
                  }
                  .header-main-wrap-text:nth-child(4) {
                    grid-row: 2/3;
                    grid-column: 2/3;
                  }
                  .header-main-wrap-text:nth-child(6) {
                    grid-row: 2/3;
                    grid-column: 3/4;
                  }

                  .header-main-wrap-text {
                    ul {
                      li {
                        font-size: 12px;
                        
                      }
                    }
                  }
                }
              }
            }

            a {
              font-family: Montserrat-SemiBold, sans-serif;
              font-size: 14px;
            }

            .header-main-container {
              padding-top: 24px;
              position: absolute;
              //overflow: hidden;
              top: 32px;
              left: 0;
              //transition: height .8s cubic-bezier(0.6,0,0.4,1);
              //display: none;

              .header-main-wrap {
                background: white;
                border-top: 1px solid #ddd;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                min-width: 224px;
                display: flex;

                .header-main-wrap-text {
                  min-width: 224px;
                  padding: 8px 0 32px;

                  ul {

                    li {
                      color: black;
                      list-style: none;
                      padding: 8px 0 9px 24px;
                      font-size: 14px;
                      line-height: 19px;
                      font-family: Montserrat-Regular, sans-serif;

                      &:hover {
                        font-family: Montserrat-Bold, sans-serif;
                      }
                    }
                  }
                }

                .header-main-wrap-new {
                  padding: 8px 0 32px;
                  color: black;

                  .header-main-wrap-new-title {

                  }

                  .header-main-wrap-items {
                    display: grid;
                    grid-template-columns: repeat(3, 156px);
                    grid-template-rows: repeat(3, 140px);
                    gap: 12px;
                    margin: 0 14px;

                    div.header-main-wrap-item {
                      padding: 8px 12px 12px;
                      background: #f8f8f8;
                      border-radius: 20px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      flex-direction: column;
                      .header-main-wrap-item-image {

                        img {
                          width: 84px;
                          height: 68px;
                        }
                      }

                      .header-main-wrap-item-description {
                        margin-top: 6px;
                        font-family: Montserrat-Regular,sans-serif;
                        font-size: 12px;
                      }

                    }
                  }
                }
              }
            }
            &:hover {
              color: white;
              background: black;
              border-radius: 16px;
            }

            &:hover .header-main-container {
              display: flex;
            }
          }
        }
      }
    }

    .header-icons {
      display: flex;
      align-items: center;
      justify-content: end;
      margin-left: 28px;

      .header-icon {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        padding: 0 8px;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
